
body {
  margin: 0;
  background: black;
  background-color: black ;
  overflow: hidden;
  color: #0f0;
  font-family: 'Courier New', monospace;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensure it covers the full viewport */
  height: 100%; /* Ensure it covers the full viewport */
  z-index: -1;
    /* Push it behind other content */
}

/* Header */
.site-header {
  text-align: center;
  padding: 20px;
  font-size: 2em;
  color: #0f0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid #0f0;
}

.menu-toggle {
  font-size: 24px;
  color: #00ff00;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu-toggle:hover {
  transform: scale(1.2);
}

.dropdown-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: black;
  border-top: 1px solid #0f0;
  box-shadow: 0 5px 15px rgba(0, 255, 0, 0.3);
  animation: dropdown 0.3s ease-in-out;
}

.dropdown-link {
  padding: 15px 20px;
  text-decoration: none;
  color: #0f0;
  text-align: center;
  transition: background-color 0.2s, transform 0.2s;
}

.dropdown-link:hover {
  background-color: #0f0;
  color: black;
  transform: scale(1.1);
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
  background-color: rgb(0, 0, 0);
}

/* About Page Grid */
.Aboutgrid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

.Aboutgrid .card {
  border: 2px solid #0f0;
  padding: 20px;
  text-align: left;
  color: #00ff00;
  font-family: 'Courier New', monospace;
  background: black;
  box-shadow: 0 0 10px #0f0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Aboutgrid .card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #0f0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #0f0;
  padding: 20px;
  text-decoration: none;
  color: #00ff00;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
  max-width: 100%; /* Ensure the image fits within its container */
  max-height: 200px; /* Limit the height to make it navigable */
  object-fit: cover; /* Ensure the image does not distort */
  border-bottom: 2px solid #0f0;
  margin-bottom: 10px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #0f0;
}

.card p{
  color: #0f0;
  font-size: 1.2em;
  margin-top: 5px;
}

/* Footer */
.site-footer {
  text-align: center;
  padding: 10px;
  color: #0f0;
  border-top: 2px solid #0f0;
}

/* Dropdown Animation */
@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
