h1{
    font-family: 'Courier New', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3bff33;
  }
  h2 {
    font-family: 'Courier New', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3bff33;
  }
  h3{
    font-family: 'Courier New', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3bff33;
  }
  
  li{
    font-family: 'Courier New', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3bff33;
  }
  
  p{
    font-family: 'Courier New', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3bff33;
  }

  a{
    font-family: 'Courier New', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3bff33;
  }

  body{
    font-family: 'Courier New', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
  }

  canvas {
      position: absolute;
      top: 0;
      left: 0;
      right: 0; 
      bottom: 0; 
  }

  .responsive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 0.25rem;
}

  .CenterBox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: dimgrey;
    border: 3px solid #3bff33;
    padding: 10px;
  }

  .IconBox {
    display: block;
    border: 3px solid #3bff33;
    padding: 10px;
    width: 50px;
    height: 75px;
  }
  .IconBox2 {
    display: block;
    border: 3px solid #3bff33;
    padding: 10px;
    width: 50px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
  }
  .IconBox3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #3bff33;
    padding: 10px;
    width: 50px;
    height: 75px;
  }
  .IconBox4 {
    display: block;
    border: 3px solid #3bff33;
    padding: 10px;
    width: 50px;
    height: 75px;
  }
  .IconBox5 {
    display: block;
    border: 3px solid #3bff33;
    padding: 10px;
    width: 50px;
    height: 75px;
  }
  .IconBox6 {
    display: block;
    border: 3px solid #3bff33;
    padding: 10px;
    width: 50px;
    height: 75px;
  }
  
  
    @media only screen and (mid-width: 600px) {
  
    }

    @font-face {
        font-family: 'Matrix';
        src: url(matrix.ttf);  
    
    }
    
